Analize image doc.json
{
  "name": "Analize image doc",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analize-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "49acbf2e-5720-48d3-93f0-71b7a2347420",
      "name": "Webhook",
      "webhookId": "918bd236-eb0a-441f-8e5f-112038351ac5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAx9y9vbVMpYvfic-zqWoTDso2IH37q3hI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{$('Webhook').item.binary.data.mimeType}}\",\n            \"data\": \"{{$json.data}}\"\n          }\n        },\n        {\n          \"text\": \"Please extract all text from this image verbatim, just send back response only\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "464db1b4-0e95-471c-8291-2b4bbb2aa197",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "37ca2e14-7221-4a0a-97dc-3e90fc10678e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "driveId": "=myDrive",
        "folderId": "=1LBoLVLZkZ4j0xwSgDbEhh-llnRiEfLp9",
        "title": "={{ $('Webhook').item.json.body.filename }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "7e579781-6402-4ca8-b8dc-741b84d5658b",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SB2wiXRozretqC5g",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('HTTP Request1').item.json.candidates[0].content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "0feb9646-89bf-4b92-b015-cb1a35600e1a",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SB2wiXRozretqC5g",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        0
      ],
      "id": "9881233b-d32f-4f32-b9ec-72ce27561bfa",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ELISiNpQaQ88oJfi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url_file\": \"https://docs.google.com/document/d/{{$('Download file').item.json.documentId}}/edit?usp=drive_link\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1264,
        0
      ],
      "id": "b9abb55c-9818-4223-9d33-88c2dbb2a608",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73589abb-0324-4bef-85a7-4639d5c7d9f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae3ff3f90be70f62ff332c8188dc5c65e00affa03c93bacfccff5b1815ce4ce7"
  },
  "id": "UmBrSyWQB67b14NE",
  "tags": []
}