send approval wa PR chat.json
{
  "name": "send approval wa PR chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "120c661c-5467-473d-8572-7f5f333c0c38",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -96
      ],
      "id": "0f150815-dbf5-494f-8c24-6b64602e7cb0",
      "name": "Webhook",
      "webhookId": "120c661c-5467-473d-8572-7f5f333c0c38"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1815c6d9-c5c2-4e12-9b3c-ffde524b17bb",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "=opened",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -96
      ],
      "id": "5009846f-616a-4c53-8bb8-abc3a3dc27ad",
      "name": "If",
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ujywOO1Af6AJG8dRCs6hNDv4dZc0fOuA7UT1K9K6wr2ypuHIB5McjCq.0bOytxrK"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "6287735433203"
            },
            {
              "name": "message",
              "value": "=hello there are PR here : {{$json.body.pull_request.url}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -96
      ],
      "id": "6b88cca6-c2ca-4cb4-ae03-57fa5c7a2c2e",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5626d9c0-450f-4983-adda-8c75041ab08a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae3ff3f90be70f62ff332c8188dc5c65e00affa03c93bacfccff5b1815ce4ce7"
  },
  "id": "7mQcfXc1Pb3hzr5N",
  "tags": []
}